<style>
ul { list-style: none }
</style>
<% if model.errors.any? %>
  <% model.errors.full_messages_for(attribute).each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
  <% end %>
<% end %>
